html,body{
    font-family: Helvetica, Arial, sans-serif;    
    height:100%;
    margin:0;
    padding:0;
    line-height:200%;
    background-image: url("camera.jpg");
}

#map{
    height:50%;
}

.btn{
    text-align: center;
    display: block;
    border:transparent;
    position:absolute;
    outline:none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 200%;
    color:#00000;
    background-color: transparent;
    left: 10%;
    top: 3%;
    width: 100px
}

    padding: 40px;
    font-size: 30px;
    text-align: center;
h1{

    background-color: rgb(220,220,220);
    background
    color: rgb(80,120,255);
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
}

h3{
    background-color: red;
    
}

form{
    text-align: right;
    padding-right: 70%;
    width: 1130px;
    
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.tag-address{
    width: 300px;
    height: 35px;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
}

#radiusslider, #numberslider{
    width: 150px;
    height: 30px
}

#submit-button{
    width: 90px;
    height: 35px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
}

#number, #radius{
    line-height:100%;
    text-align: right;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}
