<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Welcome to WhereDemPhotosAt</title>
</head>

<body>
<h1>Find where photos are taken</h1>


<form action="/home" method="POST">
<input type="text" name="Tag" placeholder="tag" required>
<br>
<input type = "text" name = "Address" placeholder = "Address" required>

<br>
<form>
  Number of Photos
<input type="number" name="Number" min="1" max="10">
<br>
<input type="submit" name="button" value ="submit" class ="button">
</form>


<hr>
<address></address>
<!-- hhmts start -->Last modified: Mon Nov  9 15:56:41 EST 2015 <!-- hhmts end -->
</body> </html>
