{% extends "master.html" %}


{% block title %}Send Coords, get Map!{% endblock %}
{% block body %}

<div id="map"></div>

{% endblock %}

{% block script %}
<script type="text/javascript">

var CenterLatLng = {lat:{{coords[0]['latitude']}}, lng:{{coords[0]['longitude']}}};
var map;
var markers=[];


function initMap(){
  map = new google.maps.Map(document.getElementById('map'),{
    center: CenterLatLng,
    zoom:12
  });
  addMarkers();
}

function addMarkers(){
  var i = 0;
  var MarkerLatLng;
  {% for coord in coords %}
  markerLatLng = { lat : {{ coord['latitude'] }} , lng : {{ coord['longitude'] }} };
  markers.push(new google.maps.Marker({
    position:markerLatLng,
    map:map,
    title:(i++).toString(),
    animation:google.maps.Animation.DROP
  }));
  {% endfor %}
  var bounds = new google.maps.LatLngBounds();
  for(i = 0; i < markers.length; i++){
    bounds.extend(markers[i].getPosition());
  }
  map.fitBounds(bounds);
}
</script>

<script async defer src ="https://maps.googleapis.com/maps/api/js?key={{gKey}}&callback=initMap"></script>
{% endblock %}
