{% extends "master.html" %}
{% block title %}Send Coords, get Map!{% endblock %}
{% block body %}
{% if error %}
  <h3>{{error}}</h3> 
{% endif %}
<!-- <form action="/map" method="POST">
  Picture?: <input type="text" name="Tag" placeholder="tag" required> <br>
  Address : <input type = "text" name = "Address" placeholder = "345 Chambers Street" required> <br>
  Number of Photos: <input type="number" name="Number">  <br>
  <input type="submit" name="button" value ="submit" class ="button">
</form> -->

<div id="map"></div>

{% endblock %}

{% block script %}
<script type="text/javascript">
{% if photos %}
var CenterLatLng = { lat: {{ photos[0]['lat'] }} , lng: {{ photos[0]['lng'] }} };
{% elif address %}
var CenterLatLng = { lat: {{ address['lat'] }}, lng: {{ address['lng'] }} };
{% endif %}
var map;
var markers=[];

function initMap(){
  map = new google.maps.Map(document.getElementById('map'),{
    center:CenterLatLng,
    zoom:12
  });
{% if photos %}
  addPhotos();
{% endif %}
}
function addPhotos(){
  var contentstring = ""
  var infoWindow, marker, markerLatLng;
  var bounds = new google.maps.LatLngBounds();
  {% for photo in photos %}
  contentstring = '<img src="{{ photo['url'] }}"></img>'
  markerLatLng = { lat : {{ photo['lat'] }} , lng : {{ photo['lng'] }} };
  infoWindow = new google.maps.InfoWindow({
    content:contentstring,
    disableAutoPan:true
  })
  marker = new google.maps.Marker({
    position:markerLatLng,
    map:map,
    title:"{{ photo['title'] }}",
    animation:google.maps.Animation.DROP,
    infowindow:infoWindow
  });
  bounds.extend(marker.getPosition());
  markers.push(marker);
  {% endfor %}
  map.fitBounds(bounds);
  addClickers();
}
function addClickers(){
  for( i = 0; i < markers.length ; i++){
    google.maps.event.addListener(markers[i], 'mouseover', function(){
      this.infowindow.open(map,this);
    });
    google.maps.event.addListener(markers[i], 'mouseout', function(){
      this.infowindow.close(map,this);
    });
  }
}

</script>

<script async defer src ="https://maps.googleapis.com/maps/api/js?key={{gKey}}&callback=initMap"></script>
{% endblock %}
